includes:
    - tools/phpstan/vendor/phpstan/phpstan-symfony/extension.neon
    - tools/phpstan/vendor/phpstan/phpstan-symfony/rules.neon

parameters:
    ignoreErrors:
        -
            identifier: missingType.iterableValue
